.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  /* .home-nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
  } */

  .home-nav-list {
    padding: 2em;
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
  }

  .home-link {
    display: inline-block;
    padding: 8px 16px;
    background-color: #305e6c;
    color: #fff;
    border-radius: 4;
    text-decoration: none;
  }

  .home-link:hover {
    background-color: #accaea;
    color: rgb(240, 147, 147);
  }

  .home-nav-item {
    padding: 10px;
    /* margin: 0 10px; */    
  }
  
  .homepage__heading {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .homepage__text {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: center;
  }
  
  @media (min-width: 768px) {
    .homepage {
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      padding: 40px;
    }
    
    .homepage__heading {
      font-size: 48px;
      margin-bottom: 30px;
    }
    
    .homepage__text {
      font-size: 24px;
      line-height: 1.5;
      margin-bottom: 30px;
      text-align: left;
      max-width: 500px;
    }
  }
  